$sidebar-top-color: #690800;

$sidebar-font-color: #a49a9a;

$sidebar-hover-font-color: #ffffff;

$sidebar-link-hover-color: #383838;

$side-bar-bckgnd-color: #505050;

$main-body-bckgnd-color: #f1f1f1;

$main-header-bckgnd-color: #ffffff;